Repository AstarNetwork/Astar, pull requests merged in 2021-08, with the labels that each got.

#367 Added Pallet Block Reward
  Cargo.lock
  Cargo.toml
  frame/block-reward/Cargo.toml
  frame/block-reward/src/lib.rs
Labels: enhancement

#366 Shiden PoS runtime
  Cargo.lock
  bin/collator/Cargo.toml
  bin/collator/src/aura_upgrade.rs
  bin/collator/src/chain_spec.rs
  bin/collator/src/command.rs
  bin/collator/src/lib.rs
  bin/collator/src/service.rs
  frame/block-reward/src/lib.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
  third-party/nix/shell.nix
Labels: shiden

#368 Update Astar readme file
  README.md
Labels: documentation

#376 Support for multi- and custom-signatures
  Cargo.lock
  Cargo.toml
  bin/collator/Cargo.toml
  bin/collator/src/aura_upgrade.rs
  bin/collator/src/command.rs
  bin/collator/src/lib.rs
  bin/collator/src/primitives.rs
  bin/collator/src/rpc.rs
  bin/collator/src/service.rs
  frame/block-reward/Cargo.toml
  frame/custom-signatures/Cargo.toml
  frame/custom-signatures/src/ethereum.rs
  frame/custom-signatures/src/lib.rs
  frame/custom-signatures/src/tests.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
Labels: shiden

#380 Fix shiden spec (drop `lightSyncState` field)
  bin/collator/res/shiden.json
  bin/collator/res/shiden.raw.json
  bin/collator/src/command.rs
Labels: shiden
