Repository AstarNetwork/Astar, pull requests merged in 2023-10, with the labels that each got.

#1035 Reduce default PoV size for XCM instructions
  runtime/astar/src/xcm_config.rs
  runtime/shibuya/src/xcm_config.rs
  runtime/shiden/src/xcm_config.rs
Labels: shiden, astar, shibuya, runtime

#1025 Fee Alignment - Shibuya/local
  Cargo.lock
  Cargo.toml
  bin/collator/src/local/chain_spec.rs
  bin/collator/src/parachain/chain_spec/shibuya.rs
  pallets/dynamic-evm-base-fee/Cargo.toml
  pallets/dynamic-evm-base-fee/src/benchmarking.rs
  pallets/dynamic-evm-base-fee/src/lib.rs
  pallets/dynamic-evm-base-fee/src/mock.rs
  pallets/dynamic-evm-base-fee/src/tests.rs
  pallets/dynamic-evm-base-fee/src/weights.rs
  runtime/local/Cargo.toml
  runtime/local/src/lib.rs
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  tests/integration/src/setup.rs
  tests/integration/src/xvm.rs
Labels: shibuya, runtime

#1038 fix: storage item typo in unified accounts
  pallets/unified-accounts/src/lib.rs
  pallets/unified-accounts/src/tests.rs
  runtime/shibuya/src/lib.rs
Labels: shibuya, runtime

#1039 Bump Shibuya semver and spec versoin.
  Cargo.lock
  bin/collator/Cargo.toml
  runtime/astar/Cargo.toml
  runtime/local/Cargo.toml
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shiden/Cargo.toml
Labels: shibuya, runtime

#1048 Feat/macos build cache
  .github/workflows/release.yml
Labels: ci

#1047 Remove batch precompile
  Cargo.lock
  Cargo.toml
  precompiles/batch/Batch.sol
  precompiles/batch/Cargo.toml
  precompiles/batch/src/lib.rs
  precompiles/batch/src/mock.rs
  precompiles/batch/src/tests.rs
  runtime/astar/Cargo.toml
  runtime/astar/src/precompiles.rs
  runtime/local/Cargo.toml
  runtime/local/src/precompiles.rs
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/precompiles.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/precompiles.rs
Labels: shiden, astar, shibuya, runtime

#1036 dApp staking v3 - part 3
  pallets/dapp-staking-v3/src/lib.rs
  pallets/dapp-staking-v3/src/test/mock.rs
  pallets/dapp-staking-v3/src/test/testing_utils.rs
  pallets/dapp-staking-v3/src/test/tests.rs
  pallets/dapp-staking-v3/src/test/tests_types.rs
  pallets/dapp-staking-v3/src/types.rs
Labels: dapps-staking, runtime

#1043 XCM Update
  Cargo.lock
  Cargo.toml
  pallets/pallet-xcm/Cargo.toml
  pallets/pallet-xcm/src/benchmarking.rs
  pallets/pallet-xcm/src/lib.rs
  pallets/pallet-xcm/src/migration.rs
  pallets/pallet-xcm/src/mock.rs
  pallets/pallet-xcm/src/tests.rs
  pallets/pallet-xcm/src/weights.rs
  precompiles/xcm/Cargo.toml
  precompiles/xcm/src/lib.rs
  precompiles/xcm/src/mock.rs
  precompiles/xcm/src/tests.rs
  runtime/astar/Cargo.toml
  runtime/astar/src/weights/mod.rs
  runtime/astar/src/weights/pallet_xcm.rs
  runtime/astar/src/xcm_config.rs
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/weights/mod.rs
  runtime/shibuya/src/weights/pallet_xcm.rs
  runtime/shibuya/src/xcm_config.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/weights/mod.rs
  runtime/shiden/src/weights/pallet_xcm.rs
  runtime/shiden/src/xcm_config.rs
  tests/xcm-simulator/src/mocks/parachain.rs
  tests/xcm-simulator/src/mocks/relay_chain.rs
  tests/xcm-simulator/src/tests/fungible_assets.rs
Labels: shiden, astar, shibuya, runtime

#1056 XVM: default account mapping for Wasm contracts
  Cargo.lock
  chain-extensions/xvm/Cargo.toml
  chain-extensions/xvm/src/lib.rs
  runtime/local/src/chain_extensions.rs
  runtime/local/src/lib.rs
  runtime/shibuya/src/chain_extensions.rs
  runtime/shibuya/src/lib.rs
  tests/integration/src/setup.rs
  tests/integration/src/xvm.rs
Labels: shibuya, runtime, XVM

#1058 feat(AU): charge storage fee and add initial CE
  Cargo.lock
  Cargo.toml
  chain-extensions/types/unified-accounts/Cargo.toml
  chain-extensions/types/unified-accounts/src/lib.rs
  chain-extensions/unified-accounts/Cargo.toml
  chain-extensions/unified-accounts/src/lib.rs
  pallets/unified-accounts/src/benchmarking.rs
  pallets/unified-accounts/src/lib.rs
  pallets/unified-accounts/src/mock.rs
  pallets/unified-accounts/src/tests.rs
  runtime/local/Cargo.toml
  runtime/local/src/chain_extensions.rs
  runtime/local/src/lib.rs
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/chain_extensions.rs
  runtime/shibuya/src/lib.rs
  tests/ink-contracts/README.md
  tests/ink-contracts/async-xcm-call-no-ce.json
  tests/ink-contracts/async-xcm-call-no-ce.wasm
  tests/ink-contracts/au_ce_getters.json
  tests/ink-contracts/au_ce_getters.wasm
  tests/ink-contracts/call_xvm_payable.json
  tests/ink-contracts/call_xvm_payable.wasm
  tests/ink-contracts/dummy_error.json
  tests/ink-contracts/dummy_error.wasm
  tests/ink-contracts/flipper.json
  tests/ink-contracts/flipper.wasm
  tests/ink-contracts/payable.json
  tests/ink-contracts/payable.wasm
  tests/ink-contracts/simple_storage.json
  tests/ink-contracts/simple_storage.wasm
  tests/integration/Cargo.toml
  tests/integration/src/account.rs
  tests/integration/src/dispatch_precompile_filter.rs
  tests/integration/src/lib.rs
  tests/integration/src/setup.rs
  tests/integration/src/unified_accounts.rs
  tests/integration/src/xvm.rs
  tests/utils/Cargo.toml
  tests/utils/src/lib.rs
  tests/xcm-simulator/Cargo.toml
  tests/xcm-simulator/fixtures/README.md
  tests/xcm-simulator/src/mocks/mod.rs
  tests/xcm-simulator/src/tests/experimental.rs
Labels: shibuya, runtime, AU

#1069 Release v5.21.0 prep
  Cargo.lock
  bin/collator/Cargo.toml
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/local/Cargo.toml
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
Labels: shiden, astar, runtime

#1066 feat: add `UnifiedAddressMapper` trait impl bechmarks
  chain-extensions/types/unified-accounts/src/lib.rs
  chain-extensions/unified-accounts/src/lib.rs
  chain-extensions/xvm/src/lib.rs
  pallets/unified-accounts/src/benchmarking.rs
  pallets/unified-accounts/src/lib.rs
  pallets/unified-accounts/src/weights.rs
  primitives/src/evm.rs
  tests/integration/src/unified_accounts.rs
Labels: runtime, AU

#1073 XVM CE: Sufficient charged gas check before XVM execution.
  chain-extensions/types/xvm/src/lib.rs
  chain-extensions/xvm/src/lib.rs
  primitives/src/xvm.rs
Labels: shibuya, other, XVM

#1067 feat: remove `AccountMapping` trait
  pallets/ethereum-checked/src/lib.rs
  pallets/ethereum-checked/src/mock.rs
  pallets/unified-accounts/src/benchmarking.rs
  pallets/unified-accounts/src/lib.rs
  pallets/unified-accounts/src/mock.rs
  pallets/unified-accounts/src/tests.rs
  pallets/xvm/src/lib.rs
  pallets/xvm/src/mock.rs
  pallets/xvm/src/tests.rs
  primitives/src/ethereum_checked.rs
  primitives/src/evm.rs
  runtime/local/src/lib.rs
  runtime/shibuya/src/lib.rs
  tests/integration/src/setup.rs
Labels: shibuya, runtime

#1071 Shiden fee alignment
  Cargo.lock
  bin/collator/src/parachain/chain_spec/shiden.rs
  runtime/shibuya/src/lib.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
  tests/integration/src/setup.rs
Labels: shiden, runtime

#1074 v5.22.0 release prep
  Cargo.lock
  bin/collator/Cargo.toml
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/local/Cargo.toml
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
Labels: runtime
