Repository AstarNetwork/Astar, pull requests merged in 2023-09, with the labels that each got.

#1026 Remove unused XCM consts
  runtime/astar/src/xcm_config.rs
  runtime/shibuya/src/xcm_config.rs
  runtime/shiden/src/xcm_config.rs
Labels: shiden, astar, shibuya, runtime

#991 Feat/dapp staking v3 phase2
  Cargo.lock
  pallets/dapp-staking-v3/Cargo.toml
  pallets/dapp-staking-v3/src/lib.rs
  pallets/dapp-staking-v3/src/test/mock.rs
  pallets/dapp-staking-v3/src/test/testing_utils.rs
  pallets/dapp-staking-v3/src/test/tests.rs
  pallets/dapp-staking-v3/src/test/tests_types.rs
  pallets/dapp-staking-v3/src/types.rs
Labels: other

#1028 Fix/bump quinn proto
  Cargo.lock
  bin/collator/Cargo.toml
  runtime/astar/Cargo.toml
  runtime/local/Cargo.toml
  runtime/shibuya/Cargo.toml
  runtime/shiden/Cargo.toml
Labels: client

#1029 Added concurrency for cancel previous runs
  .github/workflows/base_checks.yaml
  .github/workflows/coverage.yaml
  .github/workflows/static-analysis.yml
  .github/workflows/tests.yaml
Labels: ci

#999 feat: remove deprecated functionality
  Cargo.lock
  Cargo.toml
  pallets/custom-signatures/Cargo.toml
  pallets/custom-signatures/src/ethereum.rs
  pallets/custom-signatures/src/lib.rs
  pallets/custom-signatures/src/tests.rs
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/local/Cargo.toml
  runtime/local/src/lib.rs
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
Labels: shiden, astar, shibuya, runtime, breaksapi

#1031 Remove revert code for dispatch
  bin/collator/src/parachain/chain_spec/astar.rs
  bin/collator/src/parachain/chain_spec/shiden.rs
  runtime/astar/src/precompiles.rs
  runtime/shiden/src/precompiles.rs
Labels: shiden, astar, runtime

#1022 feat: dispatch precompile filter
  Cargo.lock
  primitives/Cargo.toml
  primitives/src/lib.rs
  primitives/src/precompiles.rs
  runtime/astar/src/lib.rs
  runtime/astar/src/precompiles.rs
  runtime/local/src/lib.rs
  runtime/local/src/precompiles.rs
  runtime/shibuya/src/lib.rs
  runtime/shibuya/src/precompiles.rs
  runtime/shiden/src/lib.rs
  runtime/shiden/src/precompiles.rs
  tests/integration/Cargo.toml
  tests/integration/src/dispatch_precompile_filter.rs
  tests/integration/src/lib.rs
Labels: shiden, astar, shibuya, runtime

#1032 bump spec
  Cargo.lock
  bin/collator/Cargo.toml
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/local/Cargo.toml
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
Labels: runtime
