Repository AstarNetwork/Astar, pull requests merged in 2023-06, with the labels that each got.

#944 Integrate orml-xtokens into Shiden
  Cargo.lock
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
  runtime/shiden/src/xcm_config.rs
Labels: shiden, runtime

#947 Integration tests setup
  .github/workflows/tests.yaml
  Cargo.lock
  Cargo.toml
  Makefile
  runtime/shibuya/src/lib.rs
  runtime/shiden/src/lib.rs
  tests/integration/Cargo.toml
  tests/integration/README.md
  tests/integration/src/lib.rs
  tests/integration/src/proxy.rs
  tests/integration/src/setup.rs
Labels: tests

#926 feat: add pallet proxy to astar
  Cargo.lock
  bin/collator/Cargo.toml
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/local/Cargo.toml
  runtime/shibuya/Cargo.toml
  tests/integration/src/lib.rs
  tests/integration/src/proxy.rs
  tests/integration/src/setup.rs
Labels: astar, runtime

#951 Bump shiden spec version
  runtime/shiden/src/lib.rs
Labels: shiden, runtime

#953 adding runner disk cleanup to workflow
  .github/workflows/static-analysis.yml
Labels: ci

#956 XCM Transact safe call filter update
  Cargo.lock
  bin/collator/Cargo.toml
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/astar/src/xcm_config.rs
  runtime/local/Cargo.toml
  runtime/shibuya/Cargo.toml
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
  runtime/shiden/src/xcm_config.rs
Labels: shiden, astar, runtime

#954 Fix/workflow
  .github/workflows/static-analysis.yml
Labels: ci

#952 chore: remove legacy terminated Astar's OnFinality bootnodes
  bin/collator/res/astar.json
  bin/collator/res/astar.raw.json
Labels: other

#968 Removes Android libs in runner machine to save some disk space
  .github/workflows/base_checks.yaml
  .github/workflows/benchmark.yml
  .github/workflows/release.yml
  .github/workflows/runtime-upgrade-test.yaml
  .github/workflows/tests.yaml
Labels: ci
