Repository AstarNetwork/Astar, pull requests merged in 2023-11, with the labels that each got.

#1075 orml-xtokens pallet name typo fix
  runtime/astar/src/lib.rs
  runtime/shibuya/src/lib.rs
  runtime/shiden/src/lib.rs
Labels: shiden, astar, shibuya, runtime

#1076 Release v5.23.0 prep
  Cargo.lock
  bin/collator/Cargo.toml
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/local/Cargo.toml
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
Labels: shiden, astar, shibuya, runtime

#1082 License check fix
  .github/license-check/config.json
  .github/workflows/coverage.yaml
Labels: ci

#1053 dapp staking v3 - part 4
  Cargo.lock
  Cargo.toml
  bin/collator/Cargo.toml
  bin/collator/src/local/chain_spec.rs
  pallets/dapp-staking-v3/Cargo.toml
  pallets/dapp-staking-v3/README.md
  pallets/dapp-staking-v3/src/benchmarking.rs
  pallets/dapp-staking-v3/src/dsv3_weight.rs
  pallets/dapp-staking-v3/src/lib.rs
  pallets/dapp-staking-v3/src/test/mock.rs
  pallets/dapp-staking-v3/src/test/mod.rs
  pallets/dapp-staking-v3/src/test/testing_utils.rs
  pallets/dapp-staking-v3/src/test/tests.rs
  pallets/dapp-staking-v3/src/test/tests_types.rs
  pallets/dapp-staking-v3/src/types.rs
  runtime/local/Cargo.toml
  runtime/local/src/lib.rs
Labels: runtime

#1084 Shiden ethereum get_block_by_number fix
  Cargo.lock
Labels: client

#1077 Hybrid Inflation Model
  Cargo.lock
  Cargo.toml
  bin/collator/src/local/chain_spec.rs
  bin/collator/src/parachain/chain_spec/shibuya.rs
  pallets/block-rewards-hybrid/Cargo.toml
  pallets/block-rewards-hybrid/src/benchmarking.rs
  pallets/block-rewards-hybrid/src/lib.rs
  pallets/block-rewards-hybrid/src/mock.rs
  pallets/block-rewards-hybrid/src/tests.rs
  pallets/block-rewards-hybrid/src/weights.rs
  runtime/local/Cargo.toml
  runtime/local/src/lib.rs
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
Labels: runtime

#1085 Astar fee alignment
  Cargo.lock
  bin/collator/src/parachain/chain_spec/astar.rs
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/local/src/lib.rs
  runtime/shibuya/src/lib.rs
  runtime/shiden/src/lib.rs
Labels: astar, runtime

#1064 chore: add issue template for release checklist
  .github/ISSUE_TEMPLATE/release_checklist.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: other

#1091 Pallet inflation
  Cargo.lock
  Cargo.toml
  bin/collator/src/local/chain_spec.rs
  pallets/inflation/Cargo.toml
  pallets/inflation/src/benchmarking.rs
  pallets/inflation/src/lib.rs
  pallets/inflation/src/mock.rs
  pallets/inflation/src/tests.rs
  pallets/inflation/src/weights.rs
  runtime/local/Cargo.toml
  runtime/local/src/lib.rs
Labels: runtime
