Repository AstarNetwork/Astar, pull requests merged in 2023-08, with the labels that each got.

#992 New Tokyo chainspecs
  bin/collator/res/shiden.json
  bin/collator/res/shiden.raw.json
  bin/collator/res/tokyo.json
  bin/collator/res/tokyo.raw.json
Labels: client

#988 Cross-VM payable calls & XVM tests
  Cargo.lock
  chain-extensions/types/xvm/src/lib.rs
  chain-extensions/xvm/src/lib.rs
  pallets/ethereum-checked/src/benchmarking.rs
  pallets/ethereum-checked/src/mock.rs
  pallets/ethereum-checked/src/tests.rs
  pallets/xvm/Cargo.toml
  pallets/xvm/src/benchmarking.rs
  pallets/xvm/src/lib.rs
  pallets/xvm/src/mock.rs
  pallets/xvm/src/tests.rs
  pallets/xvm/src/weights.rs
  precompiles/xvm/evm_sdk/XVM.sol
  precompiles/xvm/evm_sdk/flipper.sol
  precompiles/xvm/src/lib.rs
  precompiles/xvm/src/mock.rs
  precompiles/xvm/src/tests.rs
  primitives/src/ethereum_checked.rs
  primitives/src/xvm.rs
  tests/integration/Cargo.toml
  tests/integration/ink-contracts/README.md
  tests/integration/ink-contracts/call_xvm_payable.json
  tests/integration/ink-contracts/call_xvm_payable.wasm
  tests/integration/ink-contracts/payable.json
  tests/integration/ink-contracts/payable.wasm
  tests/integration/src/lib.rs
  tests/integration/src/setup.rs
  tests/integration/src/xvm.rs
Labels: runtime, XVM

#994 Fix for rpc port
  rpc-tests/rpc-tests.toml
Labels: tests

#995 Add version to tracing runtimes
  .github/workflows/release.yml
Labels: ci

#998 pallet-xvm refactor follow-up
  Cargo.lock
  chain-extensions/types/xvm/src/lib.rs
  pallets/xvm/Cargo.toml
  pallets/xvm/src/lib.rs
  pallets/xvm/src/tests.rs
  precompiles/utils/src/testing.rs
  precompiles/xvm/Cargo.toml
  precompiles/xvm/src/lib.rs
  precompiles/xvm/src/mock.rs
  precompiles/xvm/src/tests.rs
  primitives/src/xvm.rs
  runtime/local/src/lib.rs
  tests/integration/src/xvm.rs
Labels: runtime, XVM

#989 feat: add batch precompile
  Cargo.lock
  Cargo.toml
  precompiles/batch/Batch.sol
  precompiles/batch/Cargo.toml
  precompiles/batch/src/lib.rs
  precompiles/batch/src/mock.rs
  precompiles/batch/src/tests.rs
  precompiles/dapps-staking/Cargo.toml
  precompiles/utils/Cargo.toml
  precompiles/utils/src/bytes.rs
  precompiles/utils/src/data.rs
  precompiles/utils/src/lib.rs
  precompiles/utils/src/testing.rs
  precompiles/utils/src/testing/account.rs
  precompiles/utils/src/testing/execution.rs
  precompiles/utils/src/testing/handle.rs
  precompiles/utils/src/testing/mod.rs
  runtime/local/Cargo.toml
  runtime/local/src/precompiles.rs
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/precompiles.rs
Labels: runtime

#1003 chore: bump shibuya spec
  runtime/shibuya/src/lib.rs
Labels: shibuya, runtime

#1000 orml-xtokens Astar integration.
  Cargo.lock
  primitives/Cargo.toml
  primitives/src/xcm/mod.rs
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/astar/src/xcm_config.rs
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/xcm_config.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/xcm_config.rs
Labels: astar, runtime

#1006 add batch-precompile to shiden and astar
  Cargo.lock
  runtime/astar/Cargo.toml
  runtime/astar/src/precompiles.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/precompiles.rs
Labels: shiden, astar, runtime

#1008 chore: release v5.18.0 prep
  Cargo.lock
  bin/collator/Cargo.toml
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/local/Cargo.toml
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
Labels: shiden, astar, shibuya, runtime

#1010 Update chain specs: Rocstar Shibuya and Tokyo
  bin/collator/res/rocstar.json
  bin/collator/res/rocstar.raw.json
  bin/collator/res/shibuya.json
  bin/collator/res/shibuya.raw.json
  bin/collator/res/tokyo.json
  bin/collator/res/tokyo.raw.json
Labels: shibuya, client

#1011 XVM error handling
  Cargo.lock
  Cargo.toml
  chain-extensions/types/xvm/src/lib.rs
  chain-extensions/xvm/src/lib.rs
  pallets/xvm/Cargo.toml
  pallets/xvm/src/lib.rs
  pallets/xvm/src/tests.rs
  precompiles/xvm/src/lib.rs
  precompiles/xvm/src/mock.rs
  precompiles/xvm/src/tests.rs
  primitives/src/xvm.rs
  tests/integration/Cargo.toml
  tests/integration/ink-contracts/dummy_error.json
  tests/integration/ink-contracts/dummy_error.wasm
  tests/integration/src/setup.rs
  tests/integration/src/xvm.rs
Labels: runtime, XVM

#1018 Add storage deposit limit param to XVM call
  chain-extensions/xvm/src/lib.rs
  pallets/xvm/src/benchmarking.rs
  pallets/xvm/src/lib.rs
  pallets/xvm/src/tests.rs
  precompiles/xvm/evm_sdk/XVM.sol
  precompiles/xvm/src/lib.rs
  precompiles/xvm/src/mock.rs
  primitives/src/xvm.rs
  tests/integration/ink-contracts/simple_storage.json
  tests/integration/ink-contracts/simple_storage.wasm
  tests/integration/src/xvm.rs
Labels: runtime, XVM

#1020 Exempt project items from stale check
  .github/workflows/stale.yml
Labels: ci
