Repository AstarNetwork/Astar, pull requests merged in 2023-05, with the labels that each got.

#924 feat: enforce pr labels
  .github/workflows/enforce-labels.yml
  README.md
Labels: ci

#933 docs: move labels info to contributions.md
  CONTRIBUTING.md
  README.md
Labels: other

#929 Integrate orml-xtokens into Shibuya
  Cargo.lock
  Cargo.toml
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shibuya/src/xcm_config.rs
  tests/xcm-simulator/Cargo.toml
  tests/xcm-simulator/src/mocks/mod.rs
  tests/xcm-simulator/src/mocks/parachain.rs
  tests/xcm-simulator/src/tests/fungible_assets.rs
Labels: shibuya, runtime

#938 EVM withdraw WeightInfo
  Cargo.lock
  runtime/astar/src/lib.rs
  runtime/local/src/lib.rs
  runtime/shibuya/src/lib.rs
  runtime/shiden/src/lib.rs
Labels: shiden, astar, shibuya, runtime

#936 Add runtime upgrade test
  .github/workflows/README.md
  .github/workflows/runtime-upgrade-test.yaml
  Makefile
  tests/e2e/package.json
  tests/e2e/tests/runtime-upgrade.test.ts
  tests/e2e/tsconfig.json
  tests/e2e/vitest.config.ts
  tests/e2e/yarn.lock
Labels: tests

#940 patch: fix octokit api
  .github/scripts/generate-release-body.ts
Labels: ci
