Repository AstarNetwork/Astar, pull requests merged in 2023-07, with the labels that each got.

#961 add Primitive types
  Cargo.lock
  Cargo.toml
  bin/collator/Cargo.toml
  bin/collator/src/benchmarking.rs
  bin/collator/src/command.rs
  bin/collator/src/lib.rs
  bin/collator/src/local/service.rs
  bin/collator/src/parachain/chain_spec/mod.rs
  bin/collator/src/parachain/service.rs
  bin/collator/src/parachain/shell_upgrade.rs
  bin/collator/src/primitives.rs
  bin/collator/src/rpc.rs
  chain-extensions/dapps-staking/src/lib.rs
  pallets/block-reward/Cargo.toml
  pallets/block-reward/src/lib.rs
  pallets/block-reward/src/tests.rs
  pallets/dapps-staking/Cargo.toml
  pallets/dapps-staking/src/benchmarking.rs
  pallets/dapps-staking/src/lib.rs
  pallets/dapps-staking/src/pallet/mod.rs
  pallets/dapps-staking/src/testing_utils.rs
  pallets/dapps-staking/src/tests.rs
  pallets/dapps-staking/src/tests_lib.rs
  precompiles/dapps-staking/src/lib.rs
  primitives/Cargo.toml
  primitives/src/lib.rs
  primitives/src/xcm/mod.rs
  primitives/src/xcm/tests.rs
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/astar/src/xcm_config.rs
  runtime/local/Cargo.toml
  runtime/local/src/lib.rs
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shibuya/src/xcm_config.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
  runtime/shiden/src/xcm_config.rs
  tests/xcm-simulator/Cargo.toml
  tests/xcm-simulator/src/mocks/parachain.rs
Labels: other

#969 Update Tokyo and Shibuya chain specs
  bin/collator/res/shibuya.json
  bin/collator/res/shibuya.raw.json
  bin/collator/res/tokyo.json
  bin/collator/res/tokyo.raw.json
Labels: shibuya, client

#948 Update to `polkadot-v0.9.40`
  .github/workflows/zombienetRpcTest.yml
  Cargo.lock
  Cargo.toml
  bin/collator/Cargo.toml
  bin/collator/src/command.rs
  bin/collator/src/local/service.rs
  bin/collator/src/parachain/service.rs
  bin/collator/src/parachain/shell_upgrade.rs
  bin/collator/src/rpc.rs
  bin/xcm-tools/Cargo.toml
  chain-extensions/xvm/src/lib.rs
  pallets/block-reward/src/mock.rs
  pallets/block-reward/src/weights.rs
  pallets/collator-selection/src/lib.rs
  pallets/collator-selection/src/weights.rs
  pallets/custom-signatures/src/lib.rs
  pallets/dapps-staking/src/mock.rs
  pallets/dapps-staking/src/pallet/mod.rs
  pallets/dapps-staking/src/weights.rs
  pallets/pallet-xcm/Cargo.toml
  pallets/pallet-xcm/src/lib.rs
  pallets/pallet-xcm/src/migration.rs
  pallets/pallet-xcm/src/mock.rs
  pallets/pallet-xcm/src/weights.rs
  pallets/xc-asset-config/src/mock.rs
  pallets/xc-asset-config/src/weights.rs
  precompiles/assets-erc20/src/lib.rs
  precompiles/assets-erc20/src/mock.rs
  precompiles/dapps-staking/src/mock.rs
  precompiles/sr25519/src/mock.rs
  precompiles/substrate-ecdsa/src/mock.rs
  precompiles/xcm/src/lib.rs
  precompiles/xcm/src/mock.rs
  precompiles/xvm/src/mock.rs
  primitives/src/xcm/tests.rs
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/astar/src/precompiles.rs
  runtime/local/Cargo.toml
  runtime/local/src/lib.rs
  runtime/local/src/precompiles.rs
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shibuya/src/precompiles.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
  runtime/shiden/src/precompiles.rs
  scripts/templates/weight-template.hbs
  tests/xcm-simulator/src/mocks/msg_queue.rs
  tests/xcm-simulator/src/mocks/parachain.rs
  tests/xcm-simulator/src/mocks/relay_chain.rs
  vendor/rpc/debug/src/lib.rs
  vendor/rpc/trace/src/lib.rs
  vendor/rpc/txpool/src/lib.rs
Labels: shiden, astar, shibuya, runtime, client

#941 feat: add async XCM contract call scenario
  tests/xcm-simulator/Cargo.toml
  tests/xcm-simulator/fixtures/README.md
  tests/xcm-simulator/fixtures/async-xcm-call-no-ce.json
  tests/xcm-simulator/fixtures/async-xcm-call-no-ce.wasm
  tests/xcm-simulator/fixtures/flipper.json
  tests/xcm-simulator/fixtures/flipper.wasm
  tests/xcm-simulator/src/README.md
  tests/xcm-simulator/src/mocks/mod.rs
  tests/xcm-simulator/src/mocks/parachain.rs
  tests/xcm-simulator/src/tests/experimental.rs
Labels: tests

#967 Remote & Cross-VM Ethereum transaction support
  Cargo.lock
  Cargo.toml
  pallets/ethereum-checked/Cargo.toml
  pallets/ethereum-checked/src/lib.rs
  pallets/ethereum-checked/src/mock.rs
  pallets/ethereum-checked/src/tests.rs
  primitives/Cargo.toml
  primitives/src/ethereum_checked.rs
  primitives/src/lib.rs
Labels: runtime

#975 FreeBalance as default dapp-staking reward destination
  Cargo.lock
  bin/collator/Cargo.toml
  pallets/dapps-staking/Cargo.toml
  pallets/dapps-staking/src/benchmarking.rs
  pallets/dapps-staking/src/lib.rs
  pallets/dapps-staking/src/tests.rs
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
  tests/xcm-simulator/src/tests/general.rs
Labels: shiden, astar, shibuya, runtime

#976 `pallet-ethereum-checked` integration
  Cargo.lock
  Cargo.toml
  chain-extensions/xvm/src/lib.rs
  pallets/ethereum-checked/Cargo.toml
  pallets/ethereum-checked/src/benchmarking.rs
  pallets/ethereum-checked/src/lib.rs
  pallets/ethereum-checked/src/mock.rs
  pallets/ethereum-checked/src/tests.rs
  pallets/ethereum-checked/src/weights.rs
  pallets/pallet-xvm/Cargo.toml
  pallets/pallet-xvm/src/evm.rs
  pallets/pallet-xvm/src/lib.rs
  pallets/pallet-xvm/src/wasm.rs
  primitives/Cargo.toml
  runtime/local/Cargo.toml
  runtime/local/src/lib.rs
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  vendor/evm-tracing/Cargo.toml
Labels: shibuya, runtime

#977 Update Astar and Shiden all bootnodes
  bin/collator/res/astar.json
  bin/collator/res/astar.raw.json
  bin/collator/res/shiden.json
  bin/collator/res/shiden.raw.json
Labels: shiden, astar, client

#983 coverage workflow - Free disk space
  .github/workflows/coverage.yaml
Labels: other

#985 Fix rpc tests issues
  .github/workflows/release.yml
  README.md
  rpc-tests/README.md
  rpc-tests/rpc-tests.toml
  rpc-tests/tests/0002-deploy-an-evm-contract.js
  rpc-tests/tests/0002-get-evm-contract-data.js
  rpc-tests/tests/0002-set-evm-contract-data.js
Labels: tests

#980 `pallet-xvm` refactor
  Cargo.lock
  Cargo.toml
  bin/collator/Cargo.toml
  chain-extensions/types/xvm/Cargo.toml
  chain-extensions/types/xvm/src/lib.rs
  chain-extensions/xvm/Cargo.toml
  chain-extensions/xvm/src/lib.rs
  pallets/ethereum-checked/src/lib.rs
  pallets/pallet-xvm/src/evm.rs
  pallets/pallet-xvm/src/lib.rs
  pallets/pallet-xvm/src/pallet/mod.rs
  pallets/pallet-xvm/src/wasm.rs
  pallets/xvm/Cargo.toml
  pallets/xvm/src/benchmarking.rs
  pallets/xvm/src/lib.rs
  pallets/xvm/src/mock.rs
  pallets/xvm/src/weights.rs
  precompiles/xvm/Cargo.toml
  precompiles/xvm/evm_sdk/flipper.sol
  precompiles/xvm/src/lib.rs
  precompiles/xvm/src/mock.rs
  precompiles/xvm/src/tests.rs
  primitives/src/lib.rs
  primitives/src/xvm.rs
  runtime/astar/Cargo.toml
  runtime/local/Cargo.toml
  runtime/local/src/chain_extensions.rs
  runtime/local/src/lib.rs
  runtime/local/src/precompiles.rs
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/chain_extensions.rs
  runtime/shibuya/src/lib.rs
  runtime/shibuya/src/precompiles.rs
  runtime/shiden/Cargo.toml
Labels: other
