Repository AstarNetwork/Astar, pull requests merged in 2023-12, with the labels that each got.

#1094 fix(AU): [AST-1] prevent account from being reaped while charging fee
  pallets/unified-accounts/src/lib.rs
  pallets/unified-accounts/src/mock.rs
  pallets/unified-accounts/src/tests.rs
Labels: runtime, AU

#1095 Add Hybrid Inflation to Shiden
  Cargo.lock
  bin/collator/src/parachain/chain_spec/shiden.rs
  runtime/shibuya/src/lib.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
Labels: shiden, runtime

#1097 v5.26.0 prep
  Cargo.lock
  bin/collator/Cargo.toml
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/local/Cargo.toml
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
Labels: runtime

#1093 dApp Staking v3 - part 6
  pallets/dapp-staking-v3/README.md
  pallets/dapp-staking-v3/coverage_extrinsics.sh
  pallets/dapp-staking-v3/coverage_types.sh
  pallets/dapp-staking-v3/src/benchmarking/mod.rs
  pallets/dapp-staking-v3/src/benchmarking/utils.rs
  pallets/dapp-staking-v3/src/dsv3_weight.rs
  pallets/dapp-staking-v3/src/lib.rs
  pallets/dapp-staking-v3/src/test/mock.rs
  pallets/dapp-staking-v3/src/test/testing_utils.rs
  pallets/dapp-staking-v3/src/test/tests.rs
  pallets/dapp-staking-v3/src/test/tests_types.rs
  pallets/dapp-staking-v3/src/types.rs
  pallets/dapp-staking-v3/src/weights.rs
  pallets/inflation/src/lib.rs
  pallets/inflation/src/mock.rs
  primitives/src/dapp_staking.rs
  primitives/src/lib.rs
  primitives/src/testing.rs
  runtime/local/src/lib.rs
Labels: runtime

#1080 Feat/au precompile
  Cargo.lock
  Cargo.toml
  precompiles/unified-accounts/Cargo.toml
  precompiles/unified-accounts/UnifiedAccounts.sol
  precompiles/unified-accounts/src/lib.rs
  precompiles/unified-accounts/src/mock.rs
  precompiles/unified-accounts/src/tests.rs
  runtime/local/Cargo.toml
  runtime/local/src/precompiles.rs
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/precompiles.rs
Labels: shibuya, runtime, AU

#1104 Update README.md with a link to Astar Network Audit Reports repo
  README.md
Labels: documentation, other

#1103 Added hybrid inflation model to Astar
  Cargo.lock
  Cargo.toml
  bin/collator/Cargo.toml
  bin/collator/src/parachain/chain_spec/astar.rs
  pallets/block-reward/Cargo.toml
  pallets/block-reward/src/benchmarking.rs
  pallets/block-reward/src/lib.rs
  pallets/block-reward/src/mock.rs
  pallets/block-reward/src/tests.rs
  pallets/block-reward/src/weights.rs
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/shiden/src/lib.rs
Labels: astar, runtime

#1105 v5.27.0 prep
  Cargo.lock
  bin/collator/Cargo.toml
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/local/Cargo.toml
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
Labels: runtime

#1101 dApp Staking Migration
  Cargo.lock
  Cargo.toml
  pallets/contracts-migration/Cargo.toml
  pallets/contracts-migration/src/lib.rs
  pallets/dapp-staking-migration/Cargo.toml
  pallets/dapp-staking-migration/src/benchmarking.rs
  pallets/dapp-staking-migration/src/lib.rs
  pallets/dapp-staking-migration/src/mock.rs
  pallets/dapp-staking-migration/src/tests.rs
  pallets/dapp-staking-migration/src/weights.rs
  pallets/dapp-staking-v3/src/lib.rs
  pallets/dapps-staking/src/lib.rs
  pallets/dapps-staking/src/mock.rs
  pallets/dapps-staking/src/pallet/mod.rs
  precompiles/dapps-staking/src/mock.rs
  runtime/astar/src/lib.rs
  runtime/local/Cargo.toml
  runtime/local/src/lib.rs
  runtime/shibuya/src/lib.rs
  runtime/shiden/src/lib.rs
  tests/xcm-simulator/src/mocks/parachain.rs
Labels: runtime

#1096 Feat/dapp staking v3 precompiles
  Cargo.lock
  Cargo.toml
  pallets/dapp-staking-migration/src/mock.rs
  pallets/dapp-staking-v3/README.md
  pallets/dapp-staking-v3/src/lib.rs
  pallets/dapp-staking-v3/src/test/mock.rs
  pallets/dapp-staking-v3/src/test/testing_utils.rs
  pallets/dapp-staking-v3/src/test/tests.rs
  pallets/dapp-staking-v3/src/types.rs
  precompiles/dapp-staking-v3/Cargo.toml
  precompiles/dapp-staking-v3/DappsStakingV1.sol
  precompiles/dapp-staking-v3/DappsStakingV2.sol
  precompiles/dapp-staking-v3/src/lib.rs
  precompiles/dapp-staking-v3/src/test/mock.rs
  precompiles/dapp-staking-v3/src/test/mod.rs
  precompiles/dapp-staking-v3/src/test/tests_v1.rs
  precompiles/dapp-staking-v3/src/test/tests_v2.rs
  precompiles/dapp-staking-v3/src/test/types.rs
  primitives/src/dapp_staking.rs
  runtime/local/Cargo.toml
  runtime/local/src/chain_extensions.rs
  runtime/local/src/lib.rs
  runtime/local/src/precompiles.rs
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/chain_extensions.rs
  runtime/shibuya/src/lib.rs
Labels: runtime

#1111 Fix for incorrect freeze amount
  pallets/dapp-staking-v3/src/lib.rs
  pallets/dapp-staking-v3/src/test/testing_utils.rs
  pallets/dapp-staking-v3/src/test/tests.rs
Labels: runtime

#1113 v5.28.0 release prep
  Cargo.lock
  bin/collator/Cargo.toml
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/local/Cargo.toml
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
Labels: shiden, astar, shibuya, runtime, client

#1114 dApp Staking v3 improvements
  pallets/dapp-staking-migration/src/benchmarking.rs
  pallets/dapp-staking-migration/src/lib.rs
  pallets/dapp-staking-migration/src/tests.rs
  pallets/dapp-staking-migration/src/weights.rs
  pallets/dapp-staking-v3/src/lib.rs
  runtime/shibuya/src/lib.rs
  runtime/shibuya/src/weights/pallet_dapp_staking_migration.rs
Labels: shibuya, runtime

#1115 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation, other
