Repository AstarNetwork/Astar, pull requests merged in 2024-07, with the labels that each got.

#1260 Local/Shibuya v1 governance integration
  Cargo.lock
  Cargo.toml
  bin/collator/src/local/chain_spec.rs
  bin/collator/src/parachain/chain_spec/shibuya.rs
  pallets/collective-proxy/Cargo.toml
  pallets/collective-proxy/src/benchmarking.rs
  pallets/collective-proxy/src/lib.rs
  pallets/collective-proxy/src/mock.rs
  pallets/collective-proxy/src/tests.rs
  pallets/collective-proxy/src/weights.rs
  pallets/dapp-staking-v3/coverage_extrinsics.sh
  pallets/dapp-staking-v3/coverage_types.sh
  pallets/dapp-staking-v3/src/lib.rs
  pallets/dapp-staking-v3/src/test/mock.rs
  pallets/dapp-staking-v3/src/test/tests.rs
  precompiles/dapp-staking-v3/src/test/mock.rs
  primitives/Cargo.toml
  primitives/src/governance.rs
  primitives/src/lib.rs
  primitives/src/oracle.rs
  runtime/astar/src/lib.rs
  runtime/local/Cargo.toml
  runtime/local/src/lib.rs
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shiden/src/lib.rs
  tests/integration/Cargo.toml
  tests/integration/src/governance.rs
  tests/integration/src/lib.rs
  tests/integration/src/setup.rs
  tests/xcm-simulator/src/mocks/parachain.rs
Labels: shibuya, runtime

#1286 Add missing storage version setting for Shibuya governance
  runtime/shibuya/src/lib.rs
Labels: shibuya, runtime

#1287 Missing governance permissions for Shibuya
  runtime/local/src/lib.rs
  runtime/shibuya/src/lib.rs
Labels: shibuya, runtime

#1289 Update README.md
  README.md
Labels: other

#1281 add candidacy un-bonding period
  pallets/collator-selection/src/benchmarking.rs
  pallets/collator-selection/src/lib.rs
  pallets/collator-selection/src/mock.rs
  pallets/collator-selection/src/tests.rs
  pallets/collator-selection/src/weights.rs
  runtime/astar/src/lib.rs
  runtime/shibuya/src/lib.rs
  runtime/shiden/src/lib.rs
Labels: runtime

#1256 Uplift to v1.5
  Cargo.lock
  Cargo.toml
  bin/collator/Cargo.toml
  bin/collator/src/local/chain_spec.rs
  bin/collator/src/local/service.rs
  bin/collator/src/parachain/chain_spec/astar.rs
  bin/collator/src/parachain/chain_spec/shibuya.rs
  bin/collator/src/parachain/chain_spec/shiden.rs
  bin/collator/src/parachain/service.rs
  bin/collator/src/rpc/tracing.rs
  chain-extensions/pallet-assets/Cargo.toml
  chain-extensions/pallet-assets/src/mock.rs
  chain-extensions/pallet-assets/src/tests.rs
  chain-extensions/unified-accounts/Cargo.toml
  chain-extensions/xvm/Cargo.toml
  pallets/dapp-staking-migration/src/benchmarking.rs
  pallets/oracle-benchmarks/src/benchmarking.rs
  pallets/price-aggregator/src/benchmarking.rs
  pallets/xvm/Cargo.toml
  pallets/xvm/src/lib.rs
  pallets/xvm/src/mock.rs
  precompiles/utils/src/solidity/codec/xcm.rs
  precompiles/xcm/src/mock.rs
  primitives/src/xcm/mod.rs
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/astar/src/weights/pallet_xcm.rs
  runtime/astar/src/xcm_config.rs
  runtime/local/Cargo.toml
  runtime/local/src/lib.rs
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shibuya/src/weights/pallet_xcm.rs
  runtime/shibuya/src/xcm_config.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
  runtime/shiden/src/weights/pallet_xcm.rs
  runtime/shiden/src/xcm_config.rs
  rust-toolchain.toml
  tests/integration/Cargo.toml
  tests/integration/src/xvm.rs
  tests/utils/Cargo.toml
  tests/utils/src/lib.rs
  tests/xcm-simulator/Cargo.toml
  tests/xcm-simulator/src/mocks/parachain.rs
  tests/xcm-simulator/src/mocks/relay_chain.rs
  vendor/rpc/debug/src/lib.rs
  vendor/rpc/trace/src/lib.rs
Labels: shiden, astar, shibuya, runtime, client

#1296 Minor governance param adjustment
  runtime/local/src/lib.rs
  runtime/shibuya/src/lib.rs
Labels: shibuya, runtime

#1297 update check-migration CI
  .github/workflows/check-migrations.yml
Labels: ci

#1298 Release v5.42.0 prep
  Cargo.lock
  bin/collator/Cargo.toml
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/local/Cargo.toml
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
Labels: runtime, client

#1300 disable metadata hash
  .github/workflows/release.yml
Labels: runtime

#1304 Use equivocation import queue
  Cargo.lock
  bin/collator/Cargo.toml
  bin/collator/src/parachain/service.rs
  runtime/astar/Cargo.toml
  runtime/local/Cargo.toml
  runtime/shibuya/Cargo.toml
  runtime/shiden/Cargo.toml
Labels: client

#1307 fix evm tracing for older runtimes
  vendor/rpc/debug/src/lib.rs
  vendor/rpc/trace/src/lib.rs
Labels: client

#1308 Prep 5.42.2 release
  Cargo.lock
  bin/collator/Cargo.toml
  runtime/astar/Cargo.toml
  runtime/local/Cargo.toml
  runtime/shibuya/Cargo.toml
  runtime/shiden/Cargo.toml
Labels: client
