Repository AstarNetwork/Astar, pull requests merged in 2024-08, with the labels that each got.

#1312 simplify shell to aura
  bin/collator/src/parachain/service.rs
  bin/collator/src/parachain/shell_upgrade.rs
Labels: client

#1303 refactor: remove XVM pallet code
  Cargo.lock
  Cargo.toml
  chain-extensions/types/xvm/Cargo.toml
  chain-extensions/types/xvm/src/lib.rs
  chain-extensions/xvm/Cargo.toml
  chain-extensions/xvm/src/lib.rs
  pallets/ethereum-checked/src/lib.rs
  pallets/ethereum-checked/src/mock.rs
  pallets/ethereum-checked/src/tests.rs
  pallets/xvm/Cargo.toml
  pallets/xvm/src/benchmarking.rs
  pallets/xvm/src/lib.rs
  pallets/xvm/src/mock.rs
  pallets/xvm/src/tests.rs
  pallets/xvm/src/weights.rs
  precompiles/xvm/Cargo.toml
  precompiles/xvm/evm_sdk/XVM.sol
  precompiles/xvm/evm_sdk/flipper.sol
  precompiles/xvm/src/lib.rs
  precompiles/xvm/src/mock.rs
  precompiles/xvm/src/tests.rs
  primitives/src/ethereum_checked.rs
  primitives/src/lib.rs
  primitives/src/xvm.rs
  runtime/local/Cargo.toml
  runtime/local/src/chain_extensions.rs
  runtime/local/src/lib.rs
  runtime/local/src/precompiles.rs
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/chain_extensions.rs
  runtime/shibuya/src/lib.rs
  runtime/shibuya/src/precompiles.rs
  tests/ink-contracts/README.md
  tests/ink-contracts/call_xvm_payable.json
  tests/ink-contracts/call_xvm_payable.wasm
  tests/integration/src/lib.rs
  tests/integration/src/xvm.rs
Labels: shibuya, runtime

#1315 Collator hardware benchmark
  Cargo.lock
  Cargo.toml
  bin/collator/Cargo.toml
  bin/collator/src/cli.rs
  bin/collator/src/command.rs
  bin/collator/src/parachain/service.rs
Labels: client

#1302 Async backing client ready
  Cargo.lock
  Cargo.toml
  bin/collator/Cargo.toml
  bin/collator/src/parachain/service.rs
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/local/src/lib.rs
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
  tests/integration/src/setup.rs
  third-party/zombienet/single_parachain.toml
Labels: runtime, client

#1306 Feat/dyn tier thresholds
  bin/collator/src/local/chain_spec.rs
  bin/collator/src/parachain/chain_spec/astar.rs
  bin/collator/src/parachain/chain_spec/shibuya.rs
  bin/collator/src/parachain/chain_spec/shiden.rs
  pallets/dapp-staking-v3/README.md
  pallets/dapp-staking-v3/src/benchmarking/mod.rs
  pallets/dapp-staking-v3/src/benchmarking/utils.rs
  pallets/dapp-staking-v3/src/lib.rs
  pallets/dapp-staking-v3/src/migration.rs
  pallets/dapp-staking-v3/src/test/mock.rs
  pallets/dapp-staking-v3/src/test/tests.rs
  pallets/dapp-staking-v3/src/test/tests_types.rs
  pallets/dapp-staking-v3/src/types.rs
  precompiles/dapp-staking-v3/src/test/mock.rs
  runtime/astar/src/lib.rs
  runtime/shibuya/src/lib.rs
  runtime/shiden/src/lib.rs
Labels: enhancement, dapps-staking, runtime

#1320 Re-enable on-chain-release-build flag
  .github/workflows/release.yml
Labels: runtime, ci, other

#1317 chore: try-runtime variation check on new thresholds
  Cargo.lock
  pallets/dapp-staking-v3/src/migration.rs
  runtime/astar/src/lib.rs
  runtime/shibuya/src/lib.rs
  runtime/shiden/src/lib.rs
Labels: dapps-staking, tests

#1323 prep v5.43.0
  Cargo.lock
  bin/collator/Cargo.toml
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/local/Cargo.toml
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
Labels: client

#1324 increase timeout for upgrade test
  tests/e2e/package.json
  tests/e2e/tests/runtime-upgrade.test.ts
  tests/e2e/vitest.config.mts
  tests/e2e/yarn.lock
Labels: ci, tests

#1325 update versions after patch release
  .github/workflows/release.yml
  runtime/astar/src/lib.rs
  runtime/shibuya/src/lib.rs
  runtime/shiden/src/lib.rs
Labels: runtime

#1327 remove unused deps
  Cargo.lock
  Cargo.toml
  runtime/astar/Cargo.toml
  runtime/shibuya/Cargo.toml
  runtime/shiden/Cargo.toml
Labels: other

#1335 refactor: remove deprecated pallet-dapp-staking-migration
  Cargo.lock
  Cargo.toml
  pallets/dapp-staking-migration/Cargo.toml
  pallets/dapp-staking-migration/src/benchmarking.rs
  pallets/dapp-staking-migration/src/lib.rs
  pallets/dapp-staking-migration/src/weights.rs
  pallets/dapp-staking-v3/src/migration.rs
  pallets/dapp-staking-v3/src/types.rs
Labels: refactor, other

#1334 fix non-candidate slashing
  pallets/collator-selection/src/benchmarking.rs
  pallets/collator-selection/src/lib.rs
  pallets/collator-selection/src/tests.rs
Labels: shiden, astar, shibuya, runtime

#1339 prep v5.43.1
  Cargo.lock
  bin/collator/Cargo.toml
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/local/Cargo.toml
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
Labels: shiden, astar, shibuya, runtime

#1331 dApp staking - `try-state` checks implemented
  pallets/dapp-staking-v3/src/benchmarking/mod.rs
  pallets/dapp-staking-v3/src/lib.rs
  pallets/dapp-staking-v3/src/test/mock.rs
  pallets/dapp-staking-v3/src/test/tests.rs
  pallets/dapp-staking-v3/src/types.rs
Labels: dapps-staking, tests

#1340 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: other

#1322 Multi-block migrator
  Cargo.lock
  Cargo.toml
  primitives/src/lib.rs
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
Labels: shiden, astar, shibuya, runtime

#1328 simplify client
  .github/workflows/frontier-rpc-tests.yml
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  bin/collator/Cargo.toml
  bin/collator/src/cli.rs
  bin/collator/src/command.rs
  bin/collator/src/local/service.rs
  bin/collator/src/parachain/fake_runtime_api.rs
  bin/collator/src/parachain/mod.rs
  bin/collator/src/parachain/service.rs
  bin/collator/src/rpc.rs
  runtime/local/Cargo.toml
  runtime/local/src/lib.rs
Labels: client

#1342 Remove `v3` suffix from dApp staking v3
  Cargo.lock
  Cargo.toml
  pallets/dapp-staking/Cargo.toml
  pallets/dapp-staking/README.md
  pallets/dapp-staking/rpc/runtime-api/Cargo.toml
  pallets/dapp-staking/rpc/runtime-api/src/lib.rs
  pallets/dapp-staking/src/benchmarking/mod.rs
  pallets/dapp-staking/src/benchmarking/utils.rs
  pallets/dapp-staking/src/lib.rs
  pallets/dapp-staking/src/migration.rs
  pallets/dapp-staking/src/test/mock.rs
  pallets/dapp-staking/src/test/mod.rs
  pallets/dapp-staking/src/test/testing_utils.rs
  pallets/dapp-staking/src/test/tests.rs
  pallets/dapp-staking/src/test/tests_types.rs
  pallets/dapp-staking/src/types.rs
  pallets/dapp-staking/src/weights.rs
  precompiles/dapp-staking/Cargo.toml
  precompiles/dapp-staking/DappsStakingV2.sol
  precompiles/dapp-staking/DappsStakingV3.sol
  precompiles/dapp-staking/README.md
  precompiles/dapp-staking/src/lib.rs
  precompiles/dapp-staking/src/test/mock.rs
  precompiles/dapp-staking/src/test/mod.rs
  precompiles/dapp-staking/src/test/tests_v2.rs
  precompiles/dapp-staking/src/test/tests_v3.rs
  precompiles/dapp-staking/src/test/types.rs
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/astar/src/precompiles.rs
  runtime/astar/src/weights/mod.rs
  runtime/astar/src/weights/pallet_dapp_staking.rs
  runtime/local/Cargo.toml
  runtime/local/src/lib.rs
  runtime/local/src/precompiles.rs
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shibuya/src/precompiles.rs
  runtime/shibuya/src/weights/mod.rs
  runtime/shibuya/src/weights/pallet_dapp_staking.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
  runtime/shiden/src/precompiles.rs
  runtime/shiden/src/weights/mod.rs
  runtime/shiden/src/weights/pallet_dapp_staking.rs
  tests/integration/Cargo.toml
  tests/integration/src/dapp_staking.rs
  tests/integration/src/governance.rs
  tests/integration/src/lib.rs
  tests/integration/src/proxy.rs
  tests/integration/src/setup.rs
  tests/xcm-simulator/Cargo.toml
  tests/xcm-simulator/src/mocks/parachain.rs
  tests/xcm-simulator/src/tests/general.rs
Labels: runtime, client

#1341 Runtime genesis generation
  Cargo.lock
  Cargo.toml
  bin/collator/Cargo.toml
  bin/collator/src/local/chain_spec.rs
  bin/collator/src/parachain/chain_spec/astar.rs
  bin/collator/src/parachain/chain_spec/mod.rs
  bin/collator/src/parachain/chain_spec/shibuya.rs
  bin/collator/src/parachain/chain_spec/shiden.rs
  pallets/dapp-staking/src/lib.rs
  pallets/inflation/src/lib.rs
  primitives/src/genesis.rs
  primitives/src/lib.rs
  primitives/src/parachain.rs
  runtime/astar/Cargo.toml
  runtime/astar/src/genesis_config.rs
  runtime/astar/src/lib.rs
  runtime/local/Cargo.toml
  runtime/local/src/genesis_config.rs
  runtime/local/src/lib.rs
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/genesis_config.rs
  runtime/shibuya/src/lib.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/genesis_config.rs
  runtime/shiden/src/lib.rs
  third-party/zombienet/multi_parachains.toml
  third-party/zombienet/single_parachain.toml
  third-party/zombienet/smoke.toml
Labels: shiden, astar, shibuya, runtime, client

#1345 dApp staking - crate visibility
  pallets/dapp-staking/src/test/tests_types.rs
  pallets/dapp-staking/src/types.rs
  precompiles/dapp-staking/src/lib.rs
  precompiles/dapp-staking/src/test/mock.rs
  precompiles/dapp-staking/src/test/tests_v2.rs
  precompiles/dapp-staking/src/test/tests_v3.rs
  tests/integration/src/dapp_staking.rs
  tests/integration/src/governance.rs
  tests/integration/src/setup.rs
  tests/xcm-simulator/src/tests/general.rs
Labels: runtime

#1346 Fix/local custom genesis account
  runtime/local/src/genesis_config.rs
Labels: runtime
