Repository AstarNetwork/Astar, pull requests merged in 2024-02, with the labels that each got.

#1164 dapp staking v3 - Freeze Improvements
  Cargo.lock
  pallets/collator-selection/Cargo.toml
  pallets/collator-selection/src/lib.rs
  pallets/collator-selection/src/mock.rs
  pallets/collator-selection/src/tests.rs
  pallets/collator-selection/src/weights.rs
  pallets/dapp-staking-migration/src/lib.rs
  pallets/dapp-staking-migration/src/mock.rs
  pallets/dapp-staking-v3/Cargo.toml
  pallets/dapp-staking-v3/src/benchmarking/mod.rs
  pallets/dapp-staking-v3/src/lib.rs
  pallets/dapp-staking-v3/src/test/mock.rs
  pallets/dapp-staking-v3/src/test/testing_utils.rs
  pallets/dapp-staking-v3/src/test/tests.rs
  pallets/dapp-staking-v3/src/weights.rs
  precompiles/dapp-staking-v3/src/test/mock.rs
  primitives/src/dapp_staking.rs
  runtime/astar/src/lib.rs
  runtime/local/src/lib.rs
  runtime/shibuya/src/lib.rs
  runtime/shibuya/src/weights/pallet_dapp_staking_v3.rs
  runtime/shiden/src/lib.rs
  runtime/shiden/src/weights/pallet_dapp_staking_v3.rs
  tests/integration/Cargo.toml
  tests/integration/src/dapp_staking_v3.rs
  tests/integration/src/setup.rs
Labels: shiden, shibuya, runtime

#1142 Dispatch Lockdrop account - Precompile
  Cargo.lock
  Cargo.toml
  precompiles/dispatch-lockdrop/Cargo.toml
  precompiles/dispatch-lockdrop/DispatchLockdrop.sol
  precompiles/dispatch-lockdrop/src/lib.rs
  precompiles/dispatch-lockdrop/src/mock.rs
  precompiles/dispatch-lockdrop/src/tests.rs
  runtime/local/Cargo.toml
  runtime/local/src/precompiles.rs
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/precompiles.rs
Labels: runtime

#1166 Fix/incorrect eras per cycle function
  pallets/inflation/src/tests.rs
  primitives/src/dapp_staking.rs
  runtime/shiden/src/lib.rs
Labels: shiden, runtime

#1168 Rustdoc job
  .github/workflows/rustdoc.yaml
Labels: ci, other

#1171 Prep for v5.32.0 release
  Cargo.lock
  README.md
  bin/collator/Cargo.toml
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/local/Cargo.toml
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
Labels: shiden, astar, shibuya, runtime

#1172 Fix migration logic
  Cargo.lock
  bin/collator/Cargo.toml
  pallets/dapp-staking-migration/src/lib.rs
  pallets/dapp-staking-migration/src/mock.rs
  pallets/dapp-staking-migration/src/tests.rs
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/local/Cargo.toml
  runtime/shibuya/Cargo.toml
  runtime/shiden/Cargo.toml
Labels: astar, runtime
