Repository AstarNetwork/Astar, pull requests merged in 2024-11, with the labels that each got.

#1380 v5.45.0 release prep
  Cargo.lock
  bin/collator/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shiden/src/lib.rs
Labels: runtime, client

#1381 update e2e-tests deps
  .github/workflows/check-migrations.yml
  .github/workflows/e2e-tests.yaml
  .github/workflows/runtime-upgrade-test.yaml
  tests/e2e/package.json
  tests/e2e/yarn.lock
Labels: tests

#1384 Astar Governance Integration
  Cargo.lock
  runtime/astar/Cargo.toml
  runtime/astar/src/genesis_config.rs
  runtime/astar/src/lib.rs
  runtime/astar/src/precompiles.rs
  runtime/local/src/lib.rs
  runtime/local/src/precompiles.rs
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shibuya/src/precompiles.rs
  tests/integration/src/lib.rs
  tests/integration/src/setup.rs
Labels: astar, shibuya, runtime

#1387 runtime-1100 release prep
  Cargo.lock
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/local/Cargo.toml
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
Labels: shiden, astar, shibuya, runtime

#1386 Governance proxy
  runtime/astar/src/genesis_config.rs
  runtime/astar/src/lib.rs
  runtime/local/src/genesis_config.rs
  runtime/local/src/lib.rs
  runtime/shibuya/src/genesis_config.rs
  runtime/shibuya/src/lib.rs
Labels: astar, shibuya, runtime
