Repository AstarNetwork/Astar, pull requests merged in 2024-10, with the labels that each got.

#1371 Community council dApp unregister
  primitives/src/governance.rs
  runtime/shibuya/src/lib.rs
Labels: shibuya, runtime

#1372 uplift to stable2407
  Cargo.lock
  Cargo.toml
  bin/collator/src/parachain/fake_runtime_api.rs
  bin/collator/src/parachain/service.rs
  bin/collator/src/parachain/shell_upgrade.rs
  chain-extensions/pallet-assets/src/mock.rs
  pallets/collator-selection/src/lib.rs
  pallets/vesting-mbm/src/tests.rs
  pallets/xc-asset-config/src/tests.rs
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/local/src/lib.rs
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
  tests/integration/Cargo.toml
  tests/integration/src/xcm_api.rs
  tests/xcm-simulator/src/mocks/parachain.rs
  vendor/README.md
  vendor/treasury/Cargo.toml
  vendor/treasury/README.md
  vendor/treasury/src/benchmarking.rs
  vendor/treasury/src/lib.rs
  vendor/treasury/src/tests.rs
  vendor/treasury/src/weights.rs
Labels: astar, runtime, client

#1376 shiden: enable async backing
  Cargo.lock
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
Labels: shiden, runtime

#1377 Runtime-1000 release prep
  Cargo.lock
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/local/Cargo.toml
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
Labels: shiden, astar, shibuya, runtime

#1378 Fix comparison link generation
  .github/scripts/generate-release-body.ts
Labels: ci
