Repository AstarNetwork/Astar, pull requests merged in 2024-03, with the labels that each got.

#1192 feat: release v5.33.0 prep
  Cargo.lock
  bin/collator/Cargo.toml
  bin/xcm-tools/Cargo.toml
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/local/Cargo.toml
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
Labels: shiden, astar, shibuya, runtime

#1193 Srtool fix
  .github/workflows/release.yml
Labels: other

#1194 Safe get compare links
  .github/scripts/generate-release-body.ts
Labels: other

#1179 Configurable tier slots calculation formula
  Cargo.lock
  pallets/dapp-staking-migration/src/mock.rs
  pallets/dapp-staking-v3/src/benchmarking/utils.rs
  pallets/dapp-staking-v3/src/lib.rs
  pallets/dapp-staking-v3/src/migrations.rs
  pallets/dapp-staking-v3/src/test/mock.rs
  pallets/dapp-staking-v3/src/test/tests_types.rs
  pallets/dapp-staking-v3/src/types.rs
  precompiles/dapp-staking-v3/src/test/mock.rs
  primitives/src/dapp_staking.rs
  runtime/astar/src/lib.rs
  runtime/local/src/lib.rs
  runtime/shibuya/src/lib.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
Labels: shiden, astar, shibuya, runtime

#1200 fix(contracts): migrate `CodeInfoOf<T>` from `Twox64Concat` hashing to `Identity` as defined in pallet-contracts
  Cargo.lock
  bin/collator/Cargo.toml
  primitives/Cargo.toml
  primitives/src/lib.rs
  primitives/src/migrations/contract_v12.rs
  primitives/src/migrations/contract_v12_fix.rs
  primitives/src/migrations/contract_v14.rs
  primitives/src/migrations/mod.rs
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/local/Cargo.toml
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
Labels: shiden, astar, shibuya, runtime

#1187 Stake/unstake fix
  Cargo.lock
  pallets/dapp-staking-migration/Cargo.toml
  pallets/dapp-staking-migration/src/benchmarking.rs
  pallets/dapp-staking-migration/src/lib.rs
  pallets/dapp-staking-migration/src/mock.rs
  pallets/dapp-staking-migration/src/tests.rs
  pallets/dapp-staking-migration/src/weights.rs
  pallets/dapp-staking-v3/src/lib.rs
  pallets/dapp-staking-v3/src/test/mock.rs
  pallets/dapp-staking-v3/src/test/testing_utils.rs
  pallets/dapp-staking-v3/src/test/tests.rs
  pallets/dapp-staking-v3/src/test/tests_types.rs
  pallets/dapp-staking-v3/src/types.rs
  precompiles/dapp-staking-v3/src/test/tests_v2.rs
  runtime/astar/src/lib.rs
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shiden/src/lib.rs
Labels: runtime

#1203 v5.35.0 release prep
  Cargo.lock
  bin/collator/Cargo.toml
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/local/Cargo.toml
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
Labels: shiden, astar, shibuya, client

#1208 Lockdrop Precompile Fix
  precompiles/dispatch-lockdrop/src/lib.rs
Labels: runtime
