Repository AstarNetwork/Astar, pull requests merged in 2024-12, with the labels that each got.

#1390 Fix/evm fee burning
  primitives/src/evm.rs
  runtime/astar/src/lib.rs
  runtime/local/src/lib.rs
  runtime/shibuya/src/lib.rs
  runtime/shiden/src/lib.rs
  tests/integration/src/fees.rs
  tests/integration/src/lib.rs
Labels: shiden, astar, shibuya, runtime

#1388 feat: `tx-pause` and `safe-mode` pallets integration
  Cargo.lock
  Cargo.toml
  pallets/dapp-staking/src/lib.rs
  pallets/dapp-staking/src/test/tests.rs
  runtime/local/Cargo.toml
  runtime/local/src/genesis_config.rs
  runtime/local/src/lib.rs
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/genesis_config.rs
  runtime/shibuya/src/lib.rs
  tests/integration/src/setup.rs
Labels: shibuya, runtime

#1392 runtime-1200 release prep
  Cargo.lock
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
Labels: shiden, astar, shibuya, runtime

#1393 fix: unused imports removed
  tests/integration/src/setup.rs
Labels: tests

#1394 fix ci env
  .github/workflows/e2e-tests.yaml
Labels: ci, tests

#1399 Fix for XCM payment api report
  runtime/astar/src/lib.rs
  runtime/shibuya/src/lib.rs
  runtime/shiden/src/lib.rs
  tests/integration/src/setup.rs
  tests/integration/src/xcm_api.rs
Labels: shiden, astar, shibuya, runtime
