Repository AstarNetwork/Astar, pull requests merged in 2025-01, with the labels that each got.

#1408 Bump tarpaulin version
  .github/workflows/coverage.yaml
  tarpaulin.toml
Labels: ci

#1410 Mocks updated to use TestDefaultConfig
  chain-extensions/pallet-assets/src/mock.rs
  pallets/astar-xcm-benchmarks/src/mock.rs
  pallets/collator-selection/src/mock.rs
  pallets/collective-proxy/src/mock.rs
  pallets/dapp-staking/src/test/mock.rs
  pallets/dynamic-evm-base-fee/src/mock.rs
  pallets/ethereum-checked/src/mock.rs
  pallets/inflation/src/mock.rs
  pallets/price-aggregator/src/mock.rs
  pallets/static-price-provider/src/mock.rs
  pallets/unified-accounts/src/mock.rs
  pallets/vesting-mbm/src/mock.rs
  pallets/xc-asset-config/src/mock.rs
  precompiles/assets-erc20/src/mock.rs
  precompiles/dapp-staking/src/test/mock.rs
  precompiles/dispatch-lockdrop/src/mock.rs
  precompiles/sr25519/src/mock.rs
  precompiles/substrate-ecdsa/src/mock.rs
  precompiles/unified-accounts/src/mock.rs
  precompiles/xcm/src/mock.rs
  tests/xcm-simulator/src/mocks/parachain.rs
  tests/xcm-simulator/src/mocks/relay_chain.rs
Labels: tests

#1417 Update contributing doc
  CONTRIBUTING.md
Labels: documentation, other

#1416 pallet-treasury cleanup
  Cargo.lock
  runtime/astar/src/lib.rs
  runtime/local/src/lib.rs
  runtime/shibuya/src/lib.rs
  vendor/treasury/Cargo.toml
  vendor/treasury/README.md
  vendor/treasury/src/benchmarking.rs
  vendor/treasury/src/lib.rs
  vendor/treasury/src/tests.rs
  vendor/treasury/src/weights.rs
Labels: runtime
