Repository AstarNetwork/Astar, pull requests merged in 2025-02, with the labels that each got.

#1418 feat(dAppStaking): Move actions for bonus rewards
  pallets/dapp-staking/README.md
  pallets/dapp-staking/src/benchmarking/mod.rs
  pallets/dapp-staking/src/lib.rs
  pallets/dapp-staking/src/migration.rs
  pallets/dapp-staking/src/test/mock.rs
  pallets/dapp-staking/src/test/testing_utils.rs
  pallets/dapp-staking/src/test/tests.rs
  pallets/dapp-staking/src/test/tests_types.rs
  pallets/dapp-staking/src/types.rs
  pallets/dapp-staking/src/weights.rs
  pallets/inflation/src/lib.rs
  precompiles/dapp-staking/DappsStakingV3.sol
  precompiles/dapp-staking/src/lib.rs
  precompiles/dapp-staking/src/test/mock.rs
  precompiles/dapp-staking/src/test/tests_v3.rs
  runtime/astar/src/lib.rs
  runtime/astar/src/weights/pallet_dapp_staking.rs
  runtime/local/src/lib.rs
  runtime/shibuya/src/lib.rs
  runtime/shibuya/src/weights/pallet_dapp_staking.rs
  runtime/shiden/src/lib.rs
  runtime/shiden/src/weights/pallet_dapp_staking.rs
  tests/xcm-simulator/src/mocks/parachain.rs
Labels: enhancement, shiden, astar, shibuya, runtime

#1424 runtime-1300 release prep
  Cargo.lock
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
Labels: shiden, astar, shibuya, runtime

#1428 fix: `previous_staked` remains unchanged for future era stake amounts
  pallets/dapp-staking/src/test/tests.rs
  pallets/dapp-staking/src/test/tests_types.rs
  pallets/dapp-staking/src/types.rs
Labels: dapps-staking, runtime
