Repository AstarNetwork/Astar, pull requests merged in 2025-03, with the labels that each got.

#1432 Feat/runtime 1302 release prep
  Cargo.lock
  pallets/dapp-staking/src/benchmarking/mod.rs
  pallets/dapp-staking/src/lib.rs
  pallets/dapp-staking/src/migration.rs
  pallets/dapp-staking/src/test/tests.rs
  pallets/dapp-staking/src/weights.rs
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/astar/src/weights/pallet_dapp_staking.rs
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shibuya/src/weights/pallet_dapp_staking.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
  runtime/shiden/src/weights/pallet_dapp_staking.rs
Labels: shiden, runtime

#1439 Pallet inflation - config readjustment
  pallets/inflation/src/benchmarking.rs
  pallets/inflation/src/lib.rs
  pallets/inflation/src/mock.rs
  pallets/inflation/src/tests.rs
  pallets/inflation/src/weights.rs
  runtime/astar/src/weights/pallet_inflation.rs
  runtime/shibuya/src/weights/pallet_inflation.rs
  runtime/shiden/src/weights/pallet_inflation.rs
Labels: shiden, astar, shibuya, runtime

#1440 runtime-1400 release prep
  Cargo.lock
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
Labels: runtime

#1445 fix: next era stake update after unstake from unregistered contract
  pallets/dapp-staking/src/lib.rs
  pallets/dapp-staking/src/test/tests.rs
Labels: shiden, dapps-staking, astar, shibuya, runtime

#1446 runtime-1401 release prep
  Cargo.lock
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
Labels: shiden, astar, shibuya, runtime
