Repository AstarNetwork/Astar, pull requests merged in 2025-05, with the labels that each got.

#1466 dApp staking Readme update
  pallets/dapp-staking/README.md
Labels: documentation, other

#1473 ci: remove aarch64 build for now
  .github/workflows/release-client.yml
Labels: ci

#1471 Pallet democracy migration
  Cargo.lock
  Cargo.toml
  pallets/democracy-mbm/Cargo.toml
  pallets/democracy-mbm/src/benchmarks.rs
  pallets/democracy-mbm/src/lib.rs
  pallets/democracy-mbm/src/mock.rs
  pallets/democracy-mbm/src/tests.rs
  pallets/democracy-mbm/src/try_runtime.rs
  pallets/democracy-mbm/src/weights.rs
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
Labels: storage-migration, runtime

#1476 Fix: Era Info voting stake discrepancy when performing unstake/move operations
  pallets/dapp-staking/src/lib.rs
  pallets/dapp-staking/src/test/testing_utils.rs
  pallets/dapp-staking/src/test/tests.rs
  pallets/dapp-staking/src/test/tests_types.rs
  pallets/dapp-staking/src/types.rs
Labels: dapps-staking, runtime

#1479 chore: merge `release/patch-1501` into master
  Cargo.lock
  Cargo.toml
  pallets/democracy-mbm/src/mock.rs
  precompiles/xcm/src/tests.rs
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/astar/src/weights/mod.rs
  runtime/astar/src/weights/pallet_scheduler.rs
  runtime/local/src/lib.rs
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shibuya/src/weights/mod.rs
  runtime/shibuya/src/weights/pallet_scheduler.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
  tests/xcm-simulator/src/tests/experimental.rs
  tests/xcm-simulator/src/tests/fungible_assets.rs
Labels: runtime

#1481 Async backing Astar
  Cargo.lock
  pallets/democracy-mbm/src/try_runtime.rs
  runtime/astar/Cargo.toml
  runtime/astar/src/lib.rs
  runtime/shibuya/Cargo.toml
  runtime/shibuya/src/lib.rs
  runtime/shiden/Cargo.toml
  runtime/shiden/src/lib.rs
Labels: astar, runtime

#1480 Update release template
  .github/scripts/generate-release-body.ts
Labels: ci
