Repository AstarNetwork/Astar, pull requests merged in 2025-09, with the labels that each got.

#1537 Benchmark script update
  scripts/run_benchmarks.sh
Labels: ci

#1536 Feat: Inflation decay factor
  pallets/inflation/src/benchmarking.rs
  pallets/inflation/src/lib.rs
  pallets/inflation/src/migration.rs
  pallets/inflation/src/mock.rs
  pallets/inflation/src/tests.rs
  runtime/astar/src/lib.rs
  runtime/astar/src/weights/pallet_dapp_staking.rs
  runtime/astar/src/weights/pallet_inflation.rs
  runtime/local/src/genesis_config.rs
  runtime/shibuya/src/lib.rs
  runtime/shibuya/src/weights/pallet_dapp_staking.rs
  runtime/shibuya/src/weights/pallet_inflation.rs
  runtime/shiden/src/lib.rs
  runtime/shiden/src/weights/pallet_dapp_staking.rs
  runtime/shiden/src/weights/pallet_inflation.rs
  tests/integration/src/dapp_staking.rs
Labels: shiden, astar, shibuya, runtime

#1533 Prep for Shiden AssetHub migration
  Cargo.lock
  pallets/astar-xcm-benchmarks/Cargo.toml
  pallets/astar-xcm-benchmarks/src/mock.rs
  pallets/xc-asset-config/src/benchmarking.rs
  pallets/xc-asset-config/src/lib.rs
  pallets/xc-asset-config/src/mock.rs
  pallets/xc-asset-config/src/types.rs
  pallets/xc-asset-config/src/weights.rs
  primitives/src/xcm/mod.rs
  primitives/src/xcm/tests.rs
  runtime/astar/src/lib.rs
  runtime/astar/src/xcm_config.rs
  runtime/shibuya/src/lib.rs
  runtime/shibuya/src/xcm_config.rs
  runtime/shiden/src/lib.rs
  runtime/shiden/src/xcm_config.rs
  tests/xcm-simulator/src/mocks/mod.rs
  tests/xcm-simulator/src/mocks/parachain.rs
  tests/xcm-simulator/src/tests/fungible_assets.rs
Labels: shiden, runtime
